.button-container {
  display: flex;
}

.button {
  margin: 0.25em;
  padding: 0.25em 0.5em;
  border: 1px solid;
}

table {
  margin:1em auto;
}

td {
  font-size: 2em;
  height:2em;
  width:2em;
  border:1px solid;
  text-align:center;
}
td:first-child {
  border-left:solid;
}
td:nth-child(3n) {
  border-right:solid ;
}
tr:first-child {
  border-top:solid;
}
tr:nth-child(3n) td {
  border-bottom:solid ;
}